div#navigation
  table
    tbody
      tr
        td
          a(href='/') home
        td
          a(href='/page1') page1
        td
          a(href='/page2') page2
        td
          a(href='/widgets') widgets
