extends layout

block content
  h1
    p='widgets'

  table
    for widget in widgets
      tr
        td= widget.id
        td
          a(href='/widgets/'+widget.id) #{widget.name}
        //td= widget.desc
        //td= widget.desc

  block more_content
